@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,200;0,400;1,700&display=swap');

body {
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
}
#hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bg.jpg);
  text-align: center;
  position: relative;
}

.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
}
h1, h5 {
    margin: auto;
    text-transform: capitalize;
    margin-bottom: 10px;
    line-height: 1.2;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style-type: none;
    display: inline-block;
}
a {
  text-decoration: none;
  color: #fff;
}
.hero-text-box {
    width: 100%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hero-text-box h5 {
  font-size: 50px;
}
.hero-text-box h1 {
    font-size: 60px;
    font-weight: 200;
}
.social-icon ul li a {
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    text-align: center;
    line-height: 35px;
}
#hero .ah-headline .ah-words-wrapper::after {
    background-color: #fff;
    height: 80%;
}
@media screen and (max-width: 575.99px) {
      .hero-text-box h5 {
        font-size: 40px;
      }
      .hero-text-box h1 {
          font-size: 35px;
          font-weight: 200;
      }
}
